/*--------------------Font--------------------*/
@font-face {
    font-family: 'AvenirLTStd';
    src: url(fonts/AvenirLTStd-Light.otf);
}
@font-face {
    font-family: 'AvenirLTStdH';
    src: url(fonts/AvenirLTStd-Heavy.otf);
}
/*------------------Body Section------------------*/
body {
	height: 100%;
	margin: 0;
	font-family: 'AvenirLTStd', "Trebuchet MS", sans-serif;
}
/*----------------Container Section---------------*/
#container{
	display: flex;
	display: -ms-flex;
    display: -webkit-flex;
	flex-direction: column;
	/*vh is the viewport which is the browser window size*/
	/*this makes the container 100% of the window*/
	min-height: 100vh; 
}
/*-------------------Top Area---------------------*/
#toparea{
	display: inline-block;
	background: #37b8eb;
	width: 100%;
	position: fixed;
	z-index: 1;
}
#logoAndSocialMedia{
	z-index:1;
	/*space-between, spaces the elements apart equally, in this case the logo and the social media*/
	padding: 1% 10% 0%;
    margin: 0;
}
.socialMedia{
    display:flex;
    justify-content:flex-end;
	margin: -50px -60px 40px;
}
@media screen and (max-width: 750px){/*this setting is for my screen*/
    .socialMedia{
	display:block;
    position:static;
	margin:0;
        
    }
}

#slogan {
    font-family: Century Gothic;
    font-size:18px;
    margin: -10px 0px 0px 210px;
}
	
/*---------------Navigation Section----------------*/

nav{
    display: inline;
	width: 100%;
	background:#37b8eb;
    position: relative;
    padding: 0;
	
	
}

.dropdown{
	display:none;
}

nav ul li{
	display: flex;
    flex: 1;
	margin: 0;
	float: right;
	padding: 0px 4%;
    
}
nav ul li:first-child{
	float: left;
}


nav li a{
 	text-decoration: none;
    
	display: inherit;
    padding: 0px 15px;
    /* border: 1px solid black; */
    list-style-type:  none;
	text-align: center;
}



nav li a:link{
  color:white;
}
nav li a:visited{
  color:white;
}
nav li a:hover{
	color:yellow;
}
nav li a:active{
  color:yellow;
}
footer a:link{
  color:white;
}
footer a:visited{
  color:white;
}
footer a:hover{
	color:yellow;
}
footer a:active{
  color:yellow;
}
#navButton a{
	padding: 0;
}

@media screen and (max-width: 1050px){/*this setting is for my screen*/
	#horizontalNav{
		display: none;        
	}
	.dropbtn {
		background-color: #4CAF50;
		color: white;
		padding: 0px;
		font-size: 16px;
		border: none;
		cursor: pointer;
		
	}

	/* Dropdown button on hover & focus */
	.dropbtn: hover, .dropbtn:focus {
		background-color: #3e8e41;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropbtn {
		background-color: #37b8eb;
		color: white;
		padding: 5px 0px; 
		font-size: 16px;
		border: none;
		cursor: pointer;
	}

	.dropbtn:hover, .dropbtn:focus {
		background-color: #37b8eb;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
		display: block;
	}
}

/*--------------Footer Section----------------*/
footer{
	display: inherit;
	flex-direction: column;
	background: #37b8eb;
    padding: 1% 5%;
	flex: 1;
}

#footCont{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#footMediaLinks{
	margin:15px 0px;
}
footer p{
	margin:0px;
}
footer h2{
    color: white;
}
/* npowerblue #37b8eb*/
#donateRect {
    x:5px;
    y:8px;
    rx: 10px;
    ry: 10px;
    fill: #f4ef5a;
    stroke: black;
    stroke-width: 1px;
}
#socIcon {
height:30px;
border-radius: 7px;
padding: 0px 1px;
stroke: 1px black;
}

#navButton {
    font-family: 'AvenirLTStdH', "Trebuchet MS", sans-serif;
}
#donateIcon {
    width:60px;
    height:30px;
}
#applyIcon {
	padding: 0;
	margin: 0;
	width:60px;
	height:30px;
	}


nav.li{
	float: right;
}

a.footLinks {
    text-decoration: none;
}
