/*------------------Body Section------------------*/
body {
	height: 100%;
	margin: 0;
}
/*----------------Container Section---------------*/
#container{
	display: flex;
	flex-direction: column;
	/*vh is the viewport which is the browser window size*/
	/*this makes the container 100% of the window*/
	min-height: 100vh; 
	
	
}
/*-------------------Top Area---------------------*/
#toparea{
	display: inherit;
	/*space-between, spaces the elements apart equally, in this case the logo and the social media*/
	justify-content: space-between;
	flex-wrap: wrap;
	background: skyblue;
}
	
/*---------------Navigation Section----------------*/
nav{
	background:skyblue;
}
.dropdown{
	display:none;
}
#horizontalNav{
	
}

ul{
  /*Makes it a flexchild*/
    display:  inherit;
	
	flex-wrap: wrap;
	overflow: hidden;
	list-style-type: none;
	
	flex-direction: row;
	background:skyblue;
  
}
li{
	display:inline;
	margin-left:5%;
}

li a{
 	text-decoration: none;
	display: inherit;
    padding: 15px;
    /* border: 1px solid black; */
    list-style-type:  none;
	text-align: center;
	background:skyblue;
	
}

li a:hover{
	color: yellow;
}
li a:active{
  color:red;
}
li a:link{
  color:black;
}

@media screen and (max-width: 1050px){/*this setting is for my screen*/
	#horizontalNav{
		display: none; 
	}
	.dropbtn {
		background-color: #4CAF50;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		cursor: pointer;
		
	}

	/* Dropdown button on hover & focus */
	.dropbtn: hover, .dropbtn:focus {
		background-color: #3e8e41;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropbtn {
		background-color: #37b8eb;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		cursor: pointer;
	}

	.dropbtn:hover, .dropbtn:focus {
		background-color: #37b8eb;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
		display: block;
	}
}
/*--------------Footer Section----------------*/
footer{
	display: inherit;
	flex-direction: column;
	background: skyblue;
	
}
#footCont{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
