/*--------------Main Section-------------------*/
/*
section{
	display: inherit;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
}
*/
#banner {
	display: block;
	position:relative;
/*	top: 140px;*/
	width: 100%;
    margin-top: 119px
	
	
}
#banner img{
	width: 100%;
}



/*Timing for the actual fades
*These percentages are used to start the fading early because it's supposed to last for 12s
*/
@keyframes bannerFadeInOut {
	0% {
		opacity:1;
	}
	17% {
		opacity:1;
	}
	25% {
		opacity:0;
	}
	92% {
		opacity:0;
	}
	100% {
		opacity:1;
  	}
}
/*Controls the timing for all the fades, perfectly aligned for 4 images*/
#circle img:nth-of-type(1) {
  animation-delay: 9s;
  animation-name: bannerFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 12s;
}
#circle img:nth-of-type(2) {
  animation-delay: 6s;
  animation-name: bannerFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 12s;
}
#circle img:nth-of-type(3) {
  animation-delay: 3s;
  animation-name: bannerFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 12s;
}
#circle img:nth-of-type(4) {
  animation-delay: 0;
  animation-name: bannerFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 12s;
}
/*Starts off all hidded*/
.first-image{
	opacity: 0;
}
.second-image{
	opacity: 0;
}
.third-image{
	opacity: 0;
}
.fourth-image{
	opacity: 0;
}
/*---------------Content Area-----------------*/
#content{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-direction: column;
	overflow: auto;
	margin: 0% 10%;
}
/*-----------bottom below nav area and before sponsors (Index)-------------------*/
#belowBannerArea{
	display: inherit;
	flex-wrap: wrap;
	justify-content: space-between;
	align-self: center;
	width: 100%;
	padding: 30px 0px;
}

#LSarea{
 	display: inherit;
	flex-direction: column;
	flex: 1 300px;
	align-items: center;
	margin-top: 17px;
}
#circle{
	position: relative;
	height: 281px;
	width: 300px;
	
}
#circle img{
	
	position:absolute;
	border-radius: 50%;
	left:0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}


#LSarea p{
	display: inherit;
	flex: 1;
	width: 500px;
	padding-top: 20px;
}

#insideBanAreaRS{
	display: inherit;
	flex: 1;
	flex-direction: column;
	flex-wrap: wrap;
	height:400px;
	
}

.sideArea{
	display: inherit;
	flex-direction: row;
	flex: 1;
	align-items: center;
	width:250px; 
	
}
.sideArea p{
	display: inherit;
	flex-direction: column;
	width:130px;
    padding-left: 20px;
}



	

/*--------------Sponsors---------------------*/
#sponsors{ 
	display: inherit;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	overflow: auto;
	padding: 20px 0px;
 }
.sponsors{
	display: inherit;
	flex-wrap: nowrap;
}
#group1sponsors{
	justify-content: space-between;
	flex: 1;
}
#group2sponsors{
	justify-content: space-between;
	flex: 1;
}

/*----------------Testimonies-------------*/
#testimony{
	display: inherit;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex: 1;
	align-self: center;
}

.testimonies{
	margin: 0% 50px; 
    
}
.testimonies img{
	
    
}
.testimonies h2{
	margin: 0px;
}
.testimonies p{
	margin: 0px;
}
@media screen and (max-width: 1050px){/*this setting is for my screen*/
	#testimony{
	        flex-direction: column;
	        align-self: flex-start;
	        width: 100%;
            
	}
    	.testimonies{
	        padding:35px 0px; ;
	        display: inherit;
	        flex-direction: row;
	}
    	.testimoniesContent{
		padding: 10px 35px;
		width: 50%;
	}
	#testimony2{
		flex-direction: row-reverse;
		padding: 0px 5px;
	}
   
}
