.sitemap{
	display: inherit;
	flex-direction: row;
	flex:1;
}
#sitemap {
	display: inherit;
	flex-direction: column;
	flex:1; 
	margin: 180px 10% 0;
}

.sitemap p{
margin:0px 15px 25px;
}

.formatTitle{
	color:#37b8eb;
	font-size: 45px;
	margin:0 0 20px;
}