body {/*dont look here*/
	margin: 0;
}
#npowerlogo {
/*	width:35%;*/
}
#container{
 /*Making it into a flexbox*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

/*Contains the NPower logo (header) and social media*/
#toparea{
	display: inherit;
	background:skyblue;
	flex-direction: row;
	border: 1px solid red;
}
header{
	
	
	margin:0px;
	background:skyblue;

	border: 1px solid black;	
}
header a{
	padding: 0px;
	
	
}

	
}
#socialMedia{
	display:inherit;
	justify-content: flex-end;
	border: 10px solid green;
  

  
}

/*------------------------Navigation Section-------------------------*/
nav{
	
    margin: 0;
	margin-top:0px;
	display: inherit;
	
	flex-direction: row;
	padding: 10px;
	background:skyblue;
	justify-content:flex-end;
}

ul{
  /*Makes it a flexchild*/
    display:  inherit;
	
	flex-wrap: wrap;
	overflow: hidden;
	list-style-type: none;
	
	flex-direction: row;
	background:skyblue;
  
}


li a{
 	text-decoration: none;
	display: inherit;
    padding: 15px;
    border: 1px solid black;
    list-style-type:  none;
	text-align: center;
	background:skyblue;
}

li a:hover{
	color: yellow;
}
li a:active{
  color:red;
}
li a:link{
  color:black;
}

/*---------------------------Banner Section---------------------------*/
#banner{
	display: inherit;
	height: 300px;
	font-size: 100px;
	border: 1px solid black;
	width:  100%;
}

/*----------------------------------Main Section--------------------*/
article{
	display: inherit;
	margin: 3% 10%
}
footer{
	padding: 20px;
	border: 1px solid black;
	margin-left: -9px;
	margin-right: -9px;
	background:skyblue;
}
/*@media screen and (max-width: 900px)  {
  ul { 
  flex-direction: column;
  width: 100%;
  padding: 0px;
  border: 0px;
  }
  #toparea{
    flex-direction: column;
  }
}
*/
/* npowerblue #37b8eb*/