#contentContainer{
	margin: 0 10%;
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	padding-top: 150px;
	flex-direction:column;
	
}
#LSandRS{
	display: inherit;
	justify-content: space-between;
	flex-wrap: wrap;

}
#LSandRS article p{
	width: 400px;
}
article img{
    width: 100%;
    
}
@media screen and (min-width: 1050px){
    article img{
        width: 800px;
    }
}
